*{
    margin:0;
    padding: 0;
}

body{
    background-color: #DCDCDC;  
}
.college{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    color: #0000FF;
    background-color: #fffb00;
    box-shadow: 1px 1px 10px 10px #424040;
}
.subjects{
    border-radius: 30px;
    margin: 20px;
    color: indigo;
    padding: 10px;
    box-shadow: 1px 1px 10px 10px #424040;
}
.hsub{
    font-size: 20px;
}
ul{
    padding-left: 20px;
}
li{
    padding: 10px;
}
p{
    padding-top: 3px;
}
.hsub{
    margin: 20px;
}
.subs{
    color:#9400D3;
}
abbr{
    color: rgb(124, 109, 22);
    cursor :pointer;
}