body{
    background-color: #edf59e;
    font-family: Arial, Helvetica, sans-serif;
}

.table1{
    margin-top: 10px;
    padding-left: 20px;
}

a{
    text-decoration: none;
    display: block;
}

.table1 tr{
    background-color: rgb(107, 171, 201);
    text-align: center;
    color: rgb(104, 48, 32);
    font-size: 15px;
}

.basic_info{
    padding: 20px;
}

img{
    width: 20%;
}

.table3{
    margin: 20px;
}

.table4{
    margin-left: 20px;
    margin-right: 20px;
}

.table4 ,.table4 tr,.table4 td{
    border-collapse: collapse;
    border: 1px solid black;
    background-color: azure;
}

.about{
    margin: auto;
}
table.table5 {
    margin: auto;
    margin-top:30px;
}